In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
tables = ['open_data_main_tokenized', 'gittables_main_tokenized', 'cocoa_main_tokenized', 'main_tokenized']

opendata,gittables,cocoa,main = tables


bitwidth = dict()
linear = dict()

for t in tables:
    lin = pd.read_csv(f'./Histograms/{t}-histo.csv', sep=";")
    width = pd.read_csv(f'./Histograms/{t}-histo.csv-bitwidth.csv', sep=";")

    bitwidth[t] = width
    linear[t] = lin


info = pd.read_csv("./Histograms/table-info.csv", sep=";")
info

,table,values,distinct_values,mean_cardinality,avg_cell_len,avg_tableid,avg_colid,avg_rowid
0,cocoa_main_tokenized,8314523826,645008253,12.890570,9.087447,7.325916e+07,4.869254,1.114047e+02
1,gittables_main_tokenized,1588021298,97488582,16.289306,12.468851,8.494823e+05,18.848094,4.767343e+02
2,main_tokenized,8314523826,645008253,12.890570,9.087447,7.325916e+07,4.869254,1.114047e+02
3,open_data_main_tokenized,799930934,19776045,40.449490,7.986371,9.939454e+03,267.581213,1.058475e+06

In [3]:
bitwidth[opendata]['rows']

0           0
1      853801
2      818390
3     1600526
4     3047560
       ...
59          0
60          0
61          0
62          0
63          0
Name: rows, Length: 64, dtype: int64

In [4]:
def takeSparse(values):
    i = len(values)
    while i > 0:
        if values[i-1] != 0:
            return values[:i]
    
    return []

def bitwidthHistogram(values, title, label=""):
    # cut out redundant information
    values = takeSparse(values)
    
    fig, ax = plt.subplots()
    x = list(range(len(values)))
    ax.bar(x, values, label=label)
    
    ax.set_xlabel("bitwidth")
    ax.set_ylabel("# of occurences")
    ax.legend()
    ax.set_titel(title)
    return fig

In [ ]:
f = bitwidthHistogram(bitwidth[opendata]['rows'], "bits needed for rows", "")
f.show()